{# {% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="global-container"> 
    <h1>COMMENTS</h1>
    <div class="edit-btn">
        <div>
            <a href="{{path('app_profil')}}">PROFIL</a>
        </div>
        <div>
            <a href="{{path('app_profil_music')}}">YOUR MUSIC</a>
            <a href="{{path('app_profil_comment')}}">YOUR COMMENTS</a>
        </div>
    </div>
    <div class="user-comments">
        {% for comment in comments %}
            {% if app.user.id %}
                {% if app.user.id is same as comment.author.id  %}
                    <p id="comment-date">{{comment.createdAt|date('Y-m-d')}}</p>
                    <p>{{comment.content}}</p>
                        <div class="update-delete-comment">
                            {% if app.user.id %}
                                {% if app.user.id is same as comment.author.id  %}
                                    {{ include('stream/deletecomment.html.twig') }}
                                    <a href="{{path('app_stream_editcomment', {'id': comment.id}) }}"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <span></span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %} #}
















                 {# <div id="container-comment-2">
                    <div id="comment">
                        <div id="comment-author">
                            <div>
                                <h2>{{comment.author}}</h2>
                                <img id="photoprofil" src="{{ asset('images/media/' ~ comment.author.media) | imagine_filter('my_thumb_mini')}}" alt="{{ comment.author.media }}">
                            </div>
                            <div>
                                <p id="comment-date">{{comment.createdAt|date('Y-m-d')}}</p>
                            </div>
                        </div>
                        <p>{{comment.content}}</p>
                        <div class="update-delete-comment">
                            {% if app.user.id %}
                                {% if app.user.id is same as comment.author.id  %}
                                    {{ include('stream/deletecomment.html.twig') }}
                                    <a href="{{path('app_stream_editcomment', {'id': comment.id}) }}"><i class="fas fa-edit"></i></a>
                                    {% else %}
                                 {% endif %}
                            {% endif %}
                        </div>
                        <span></span>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
</div>
{% endblock %} #}

    