{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="other-section"> 
        <h1>EDIT YOUR PROFIL</h1>
        <div id="edit-btn">
            <a href="{{path('app_profil')}}">PROFIL</a>
            <a href="{{path('app_stream')}}">STREAM</a>
        </div>  
            <div class="container">
                <img id="photoprofil" src="{{ asset('images/media/' ~ app.user.media) | imagine_filter('my_thumb')}}" alt="{{ app.user.media }}">
                {{ form_start(form) }}
                {{ form_row(form.mediaFile, { 'label': 'Choose your avatar' }) }}
                <div class"agree-terms">
                {{ form_widget(form)}}
                <button class="big-btn">SAVE</button>
                {{ form_end(form) }}
            </div>
</section>
{% endblock %}