{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="global-container"> 
    <h1>UPDATE PROFIL</h1>
        <div class="edit-btn">
            <a href="{{path('app_profil')}}">PROFIL</a>
            <a href="{{path('app_stream')}}">STREAM</a>
        </div>  
        <div class="container">
            <img id="photoprofil" src="{{ asset('images/media/' ~ app.user.media) | imagine_filter('my_thumb')}}" alt="{{ app.user.media }}">
            {{ form_start(form) }}
            {{ form_row(form.mediaFile, { 'label': 'Choose your avatar',  'attr': {'class': 'vichfilebutton3'} }) }}
                <a class="downloadbutton" id="upload3">UPLOAD FILE</a>
            {# < class"agree-terms"> #}
            {{ form_widget(form)}}
            <div id="btn-form-edit">
                <a class="middle-btn" href="{{ path('app_profil')}}">BACK</a>
                <button class="middle-btn">UPDATE</button>
            </div>
            {{ form_end(form) }}
            {{ include('profil/delete.html.twig') }}
        </div>
    </h1>
</div>
{% endblock %}