{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="other-section"> 
    <h1>PROFIL</h1>  
        <div class="edit-btn">
            <a href="{{path('app_profil_edit')}}">EDIT INFO</a>
            <a href="{{path('app_profil_music')}}">EDIT MUSIC</a>
        </div>
        <div class="container">
            <img id="photoprofil" src="{{ asset('images/media/' ~ app.user.media) | imagine_filter('my_thumb')}}" alt="{{ app.user.media }}">
            <label>Firstname</label>
            <span>{{ app.user.firstname }}</span>
            <label>Lastname</label>
            <span>{{ app.user.lastname }}</span>
            <label for="inputEmail">Username</label>
            <span>{{ app.user.username }}</span>
            <label for="inputEmail">Email</label>
            <span>{{ app.user.email }}</span>
        </div>
</section>
{% endblock %}
