{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %} 
<div class="header-section">
    <h1>YOUR MUSIC</h1>
</div>
<section>
    <div class="container-all-track">
        <div class="edit-btn">
            <div>
                <a href="{{path('app_profil')}}">PROFILE</a>
            </div>
            <div>
                <a href="{{path('app_profil_playlist')}}">YOUR PLAYLIST</a>
            </div>
        </div>
        {% for track in tracks %}  
            {% if app.user %}
                {% if app.user.id is same as track.artist.id  %}
                    <div class="container-track hover-fx">
                        <div class="artwork">
                            <img class="images-stream" src="{{asset('images/media/' ~ track.media) }}" alt="{{track.media}}">
                        </div>
                        <div class="infos-track">
                            <div class="artistandtitle">
                                <h2>{{ track.artist }}</h2>
                                <p>{{ track.title }}</p>
                                <div class="artwork">
                                    <audio controls src="{{asset('audio/media/' ~ track.audio)}}" alt="{{track.audio}}" controlsList="nodownload" class="audiotrack"></audio>
                                </div>
                            </div>
                            <div class="container-btn-track">
                                <a class="small-btn" href="{{path('app_stream_details', {'id': track.id})}}">details</a>
                                <a class="small-btn btn-comment-length" href="{{path('app_stream_comment', {'id': track.id})}}">comments : {{track.comments|length}}</a>
                                {% if app.user in track.likes %}
                                    <a class="small-btn-white heart" href="{{path("track_like", {'id':track.id})}}">
                                        <i class="fas fa-heart"></i>
                                        <p class="length">{{ track.likes|length }}</p>
                                    </a>
                                {% else %}
                                    <a class="small-btn-white heart" href="{{path("track_like", {'id':track.id})}}">
                                        <i class="far fa-heart"></i>
                                        <p class="length">{{ track.likes|length }}</p>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% else %} 
        {% endfor %}
    </div>
</section>
{% endblock %}