{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   <section>
      <div id="container-lastnews">
         <h4>OUR LAST RELEASES</h4>
            <div class="caroussel">
               <div class="images">
                  <img src="{{asset('images/slider/lastrelease/cover1.jpg')}}" alt"cover-1"></img>
                  <img src="{{asset('images/slider/lastrelease/cover2.jpg')}}" alt"cover-2"></img>
                  <img src="{{asset('images/slider/lastrelease/cover3.jpg')}}" alt"cover-3"></img>
                  <img src="{{asset('images/slider/lastrelease/cover4.jpg')}}" alt"cover-4"></img>
               </div>
            </div>
            <div class="caroussel-texte">
               <div>
                  <div class="text">
                     <H5>Slugabed</H5>
                     <p>We Have The Window Open At Night</p>
                   </div>
                   <div class="text">
                     <H5>Squidgenini</H5>
                     <p>Squid</p>
                   </div>
                    <div class="text">
                     <H5>Overmono</H5>
                     <p>BMW Track</p>
                     <p>So U Kno</p>
                   </div>
                    <div class="text">
                     <H5>DJ Seinfeld</H5>
                     <p>U Already Kno</p>
                   </div>
               </div>
            </div>
      </div>

      <div id="container-lastnews">
         <h4>OUR LAST ARTISTS</h4>
            <div class="caroussel">
               <div class="images">
                  <img src="{{asset('images/slider/lastartist/tsha.jpg')}}" alt"artist-1"></img>
                  <img src="{{asset('images/slider/lastartist/bonobo.jpg')}}" alt"artist-2"></img>
                  <img src="{{asset('images/slider/lastartist/fredagain.jpg')}}" alt"artist-3"></img>
                  <img src="{{asset('images/slider/lastartist/caribou.jpg')}}" alt"artist-4"></img>
               </div>
            </div>
            <div class="caroussel-texte">
               <div>
                  <div class="text">
                     <H5>Tsha</H5>
                   </div>
                   <div class="text">
                     <H5>Bonobo</H5>
                   </div>
                    <div class="text">
                     <H5>FredAgain.</H5>
                   </div>
                    <div class="text">
                     <H5>Caribou</H5>
                   </div>
               </div>
            </div>
      </div>
   </section>
{% endblock %}
