{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if not app.user %}
        <section class="global-container"> 
                <h1>UPLOAD</h1>
                <div class="container">
                        <i class="fas fa-lock" id="cadenas"></i>
                        <a class="middle-btn" href="{{path('app_login')}}">LOGIN</a>
                        <p>You need to be logged in to access the upload section</p>
                        <p>No account? <a id="linktoregister" href="{{ path('app_register') }}">Create one</a></p>
                </div>
        </section>
{% else %}
        <section class="global-container">  
                <h1>UPLOAD</h1>
                <div class="container">
                        {{ form_start(form)}}
                        {{ form_row(form.mediaFile, { 'label': 'Artwork', 'attr': {'class': 'vichfilebutton1'} })  }}
                        <a class="downloadbutton" id="upload1">UPLOAD FILE</a>
                        <p class="constraint">we accept .jpg under 4MB.</p>
                        {{ form_row(form.audioFile, { 'label': 'Audio', 'attr': {'class': 'vichfilebutton2'} })  }}
                        <a class="downloadbutton" id="upload2">UPLOAD FILE</a>
                        <p class="constraint">we accept .MP3 and .WAV under 60MB.</p>
                        {{ form_row(form.title, {'attr': {'placeholder': 'The name of your sound'}}) }}
                        {{ form_row(form.genre, {'attr': {'placeholder': 'Style of your sound'}}) }}
                        {# {{ form_row(form.label) }} #}
                        {{ form_row(form.details, {'attr': {'placeholder': 'More details about your project'}}) }}
                        {{ form_widget(form) }}
                        <input class="middle-btn" type="submit" value="SEND">
                        {{ form_end (form) }}        
                </div>
        </section>
{% endif %}
{% endblock %}
