{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section> 
        <h3>UPLOAD</h3>
                {% if not app.user %}
                        <h2>
                                <a href="{{path('app_login')}}">LOGIN</a>
                        </h2>
</section>
        {% else %}
<section class="other-section"> 
        <h3>UPLOAD</h3>
                <div class="container">
                        {{ form_start(form)}}
                        {{ form_row(form.mediaFile, { 'label': 'Artwork' }) }}
                        {{ form_widget(form) }}
                        <input class="btn-save" type="submit" value="UPLOAD">
                        {{ form_end (form) }}  
                </div>
        {% endif %}
</section>
{% endblock %}
