<header>
    <div id="header-top">
        <div id="header-elements">
            <div class="logo">
                <a href="{{path('app_homepage')}}"><img src="{{asset('images/logo/typo.png')}}" class="typo-universound"></img></a>
                <img src="{{asset('images/logo/sphere-vide.png')}}" class="logo-universound">
            </div>   
            <div id="social-media">
                <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    {% if not app.user %}
    <nav>
        <ul class="liens">
            <li>
                <a href="{{path('app_homepage')}}">HOME</a>
            </li>
            <li>
                <a href="{{path('app_stream')}}">STREAM</a>
            </li>
            <li>
                <a href="{{path('app_upload')}}">UPLOAD</a>
            </li>
            <li>
                <a href="{{path('app_login')}}">LOGIN</a>
            </li>
            <li>
                <a href="{{path('app_register')}}">REGISTER</a>
            </li>
        </ul>
        <input type="checkbox" id="active">
            <label for="active" class="menu-btn"><span></span></label>
            <label for="active" class="close"></label>
            <div class="wrapper">
            <ul>
                <li>
                    <a href="{{path('app_homepage')}}">HOME</a>
                </li>
                <li>
                    <a href="{{path('app_stream')}}">STREAM</a>
                </li>
                <li>
                    <a href="{{path('app_upload')}}">UPLOAD</a>
                </li>
                <li>
                    <a href="{{path('app_login')}}">LOGIN</a>
                </li>
                <li>
                    <a href="{{path('app_register')}}">REGISTER</a>
                </li>
            </ul>
        </input>
    </nav>
    {% else %}
    <nav>
        <ul class="liens">
            <li>
                <a href="{{path('app_homepage')}}">HOME</a>
            </li>
            <li>
                <a href="{{path('app_stream')}}">STREAM</a>
            </li>
            <li>
                <a href="{{path('app_upload')}}">UPLOAD</a>
            </li>
            <li>
                <a href="{{path('app_profil')}}">
                    <span id="id-user">{{ app.user.username }}
                    {% if app.user.media %}
                    <img class="photoprofil-small" src="{{ asset('images/media/' ~ app.user.media)}}" alt="{{ app.user.media }}">
                    {% else %}
                     <img class="photoprofil-small" src="{{ asset('images/media/profildefault.jpg')}}">
                     {% endif %}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{path('app_logout')}}">LOGOUT</a>
            </li>
        </ul>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
            <ul>
                <li>
                    <a href="{{path('app_homepage')}}">HOME</a>
                </li>
                <li>
                    <a href="{{path('app_stream')}}">STREAM</a>
                </li>
                <li>
                    <a href="{{path('app_upload')}}">UPLOAD</a>
                </li>
                <li>
                    <a href="{{path('app_profil')}}"><span id="id-user-mobile">{{ app.user.username }}</span></a>
                </li>
                <li>
                    <a href="{{path('app_logout')}}">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}
</header>