{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if not app.user %}
    <div class="global-container"> 
        <h1>COMMENTS</h1>
        <div class="container-all-track">
            <div class="container-comment">
                {% for comment in comments %}
                <div class="comment">
                    <div class="comment-author">
                        <h2>{{comment.author}}</h2>
                        <img class="photoprofil-small" src="{{ asset('images/media/' ~ comment.author.media) }}" alt="{{ comment.author.media }}">
                    </div>
                    <p>{{comment.content}}</p>
                    <p class="comment-date">{{comment.createdAt|date('Y-m-d H:i:s')}}</p>
                    <span></span>
                </div>
                {% endfor %}
                <div class="infos-track-details">
                    <a class="small-btn" id="small-btn-bis" href="{{path('app_stream')}}">back<i id="i-2"class="fas fa-long-arrow-alt-left"></i></a>
                </div>
            </div>
        </div>
        </h1>
    </div>
{% else %}
    <div class="global-container"> 
        <h1>COMMENTS</h1>
        <div class="container-all-track">
            <div class="container-track" class="container-track-comment">
                <div class="artwork">
                    <img class="images-stream " src="{{asset('images/media/' ~ track.media)}}" alt="{{track.media}}">
                </div>
                <div class="infos-track">
                    <div class="artistandtitle">
                        <span>
                            {{ form_start(form) }}
                            {{ form_widget(form.content) }}
                            {{ form_widget(form.comment, { 'label': 'ADD NEW'}) }}
                            {{ form_end(form) }}
                        </span>
                        <div class="container-btn-track">
                            <a class="small-btn" id="small-btn-bis" href="{{path('app_stream')}}">back</a>
                            <a class="small-btn" id="btn-slide-comment">READ ALL</a>
                        </div>
                    </div>
                </div>
                <div class="container-comment">
                {% for comment in comments %}
                <div class="comment">
                    <div class="comment-author">
                        <div>
                            <h2>{{comment.author}}</h2>
                            <img class="photoprofil-small" src="{{ asset('images/media/' ~ comment.author.media) }}" alt="{{ comment.author.media }}">
                        </div>
                        
                        <div>
                            <p class="comment-date">{{comment.createdAt|date('Y-m-d')}}</p>
                        </div>
                    </div>
                    <p>{{comment.content}}</p>
                    <div class="update-delete-comment">
                        {% if app.user.id %}
                        {% if app.user.id is same as comment.author.id  %}
                            {{ include('stream/deletecomment.html.twig') }}
                            <a href="{{path('app_stream_editcomment', {'id': comment.id}) }}"><i class="fas fa-edit"></i></a>
                        {% else %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <span></span>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            </div>
        </div>
        </h1>
    </div>
{% endblock %}
