{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% if not app.user %}
 <section class="other-section"> 
        <h1>COMMENTS</h1>
        <div id="container-track" id="container-track-comment">
                <div id="artwork"><img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
                </div>
                <div id="infos-track">
                    <h2>{{ track.artist }} - {{ track.title }}</h2>
                        <span class="info-message"> 
                        <a href="{{path('app_login')}}">login</a>
                        </span>
                </div>
            </div>
        <div id="container-comment">
                {% for comment in comments %}
                <div id="comment">
                    <div id="comment-author">
                        <h2>{{comment.author}}</h2>
                        <img id="photoprofil" src="{{ asset('images/media/' ~ comment.author.media) | imagine_filter('my_thumb_mini')}}" alt="{{ comment.author.media }}">
                    </div>
                    <p>{{comment.content}}</p>
                    <p id="comment-date">{{comment.createdAt|date('Y-m-d H:i:s')}}</p>
                    <span></span>
                <div>
            {% endfor %}
        </div>
</section>
    {% else %}
    <section class="other-section"> 
        <h1>COMMENTS</h1>
            <div id="container-track" id="container-track-comment">
                <div id="artwork"><img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
                </div>
                <div id="infos-track">
                <div id="artistandtitle">
                    <h2>{{ track.artist }} - {{ track.title }}</h2>
                        <span>
                        {{ form_start(form) }}
                        {{ form_row(form.content, { 'label': 'Write your comment here :' }) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        </span>
                </div>
                    <div id="container-btn-track">
                    </div>
                </div>
            </div>
            <div id="container-comment">
                {% for comment in comments %}
                <div id="comment">
                    <div id="comment-author">
                        <h2>{{comment.author}}</h2>
                        <img id="photoprofil" src="{{ asset('images/media/' ~ comment.author.media) | imagine_filter('my_thumb_mini')}}" alt="{{ comment.author.media }}">
                    </div>
                    <p>{{comment.content}}</p>
                    <p id="comment-date">{{comment.createdAt|date('Y-m-d H:i:s')}}</p>
                    <span></span>
                <div>
            {% endfor %}
            </div>
            {% endif %}
    </section>
{% endblock %}