{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="global-container"> 
    <div class="container-all-track">
    <h1>DETAILS</h1>
        <div class="container-track">
            <div class="artwork">
                <img class="images-stream" src="{{asset('images/media/' ~ track.media)}}" alt="{{track.media}}">
            </div>
            <div class="infos-track">
                <div class="infos-track-details">
                    <h2>Title</h2>
                    <div>
                        <p>{{ track.title }}</p>
                    </div>
                </div>
                <div class="infos-track-details">
                    <h2>Genre</h2>
                    <div>
                        <p>{{ track.genre }}</p>
                    </div>
                </div>
                {# <div class="infos-track-details">
                    <h2>Label</h2>
                    <span> {{ track.label }}</span>
                </div> #}
                <div class="infos-track-details">
                    <h2>Details</h2>
                    <div>
                        <p>{{ track.details }}</p>
                    </div>
                </div>
                <div class="infos-track-details">
                    <h2>Release date</h2>
                    <div>
                        <p>{{ track.createdAt|date('Y-m-d') }}</p>
                    </div>
                </div>
                <div class="infos-track-details">
                    <audio controls src="{{asset('audio/media/' ~ track.audio)}}" alt="{{track.audio}}" controlsList="nodownload" class="audiotrack">
                    </audio>
                </div>
                <div>
                    <a class="small-btn" id="small-btn-bis" href="{{path('app_stream')}}">STREAM</a>
                    {% if app.user %}
                    {% if app.user is same as track.artist %}
                    <a class="small-btn" id="small-btn-bis" href="{{ path('app_stream_edit', {'id': track.id}) }}">edit</a>
                    {% else %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </h1>
</div>
{% endblock %}
