{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="global-container"> 
    <h1>DETAILS</h1>
        <div id="container-track">
            <div id="artwork">
                <img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
            </div>
            <div id="infos-track">
                {# <div id="artistandtitle">
                    <h2>{{ track.artist }}</h2>
                    <p>{{ track.title }}</p> #}
                    {# <div id="artwork">
                        <audio controls src="{{asset('audio/media/' ~ track.audio)}}" alt="{{track.audio}}"></audio>
                    </div> #}
                {# </div> #}
                <div class="infos-track-details">
                    <p>Label :</p>
                        <span>{{ track.label }}</span>
                </div>
                <div class="infos-track-details">
                    <p>Genre :</p>
                        <span>{{ track.genre }}</span>
                </div>
                <div class="infos-track-details">
                    <p>Details :</p>
                        <span>{{ track.details }}</span>
                </div>
                <div class="infos-track-details">
                    <p>Release date : </p>
                        <span>{{ track.createdAt|date('Y-m') }}</span>
                </div>
                <div class="infos-track-details">
                    <a class="small-btn" id="small-btn-bis" href="{{path('app_stream')}}">back<i id="i-2"class="fas fa-long-arrow-alt-left"></i></a>
                    {% if app.user %}
                    {% if app.user is same as track.artist %}
                    <a class="small-btn" id="small-btn-bis" href="{{ path('app_stream_edit', {'id': track.id}) }}">edit</a>
                    {% else %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
</div>
{% endblock %}
