{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="other-section"> 
        <h3>ABOUT</h3>
            <div id="container-track">
                <div id="artwork"><img src="{{asset('images/media/' ~ track.media )}}" alt="{{track.media}}">
                </div>
                <div id="infos-track">
                    <h4>{{ track.artist }} - {{ track.title }}</h4>
                        <p>Label : {{ track.label }} </p>
                        <p>Genre : {{ track.genre }} </p>
                        <p>Details : {{ track.details }} </p>
                    <div id="container-btn-track">
                        <div id="details-track"><a href="{{path('app_stream')}}">back</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
