{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="global-container"> 
    <h1>DETAILS</h1>
        <div class="container-track">
            <div id="artwork">
                <img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
            </div>
            <div id="infos-track">
                <div class="infos-track-details">
                    <h2>Label :</h2>
                    <span> {{ track.label }}</span>
                </div>
                <div class="infos-track-details">
                    <h2>Genre :</h2>
                        <span>{{ track.genre }}</span>
                </div>
                <div class="infos-track-details">
                    <h2>Details :</h2>
                        <span>{{ track.details }}</span>
                </div>
                <div class="infos-track-details">
                    <h2>Release date : </h2>
                        <span>{{ track.createdAt|date('Y-m-d') }}</span>
                </div>
                <div class="infos-track-details">
                    <div>
                        <a class="small-btn" id="small-btn-bis" href="{{path('app_stream')}}">back<i id="i-2"class="fas fa-long-arrow-alt-left"></i></a>
                        {% if app.user %}
                        {% if app.user is same as track.artist %}
                        <a class="small-btn" id="small-btn-bis" href="{{ path('app_stream_edit', {'id': track.id}) }}">edit</a>
                        {% else %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </h1>
</div>
{% endblock %}
