{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="other-section"> 
        <h3>ABOUT</h3>
            <div id="container-track">
                <div id="artwork"><img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
                </div>
                <div id="infos-track">
                    <h4>{{ track.artist }} - {{ track.title }}</h4>
                        <div id="infos-track-details"><p>Label :</p><span>{{ track.label }}</span></div>
                        <div id="infos-track-details"><p>Genre :</p> <span>{{ track.genre }}</span></div>
                        <div id="infos-track-details"><p>Details :</p> <span>{{ track.details }}</span></div>
                        <div id="infos-track-details"><p>Release date :</p> <span>{{ track.createdAt|date('Y-m-d H:i:s') }}</span></div>
                        <div id="container-btn-track">
                            <div id="details-track"><a href="{{path('app_stream')}}">back</a>
                            </div>
                            <div id="details-track"><a href="{{ path('app_stream_edit', {'id': track.id}) }}">edit</a>
                            </div>
                            <div id="details-track"><a href="{{ path('app_stream_delete', {'id': track.id}) }}">delete</a>
                            </div>
                        </div>
                </div>
            </div>
    </section>
{% endblock %}
