{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div class="global-container"> 
    <h1>EDIT YOUR TRACK</h1>
    <div class="container">
        {{ form_start(form)}}
        {{ form_row(form.mediaFile, { 'label': 'Artwork', 'attr': {'class': 'vichfilebutton1'} })  }}
        <a class="downloadbutton" id="upload1">UPLOAD FILE</a>
        <p class="constraint">Don't forget to re-upload your artwork (jpg <= 4mo)</p>
        {{ form_row(form.audioFile, { 'label': 'Audio', 'attr': {'class': 'vichfilebutton2'} })  }}
        <a class="downloadbutton" id="upload2">UPLOAD FILE</a>
       <p class="constraint">Don't forget to re-upload your track (.wav and .mp3 <= 60mo)</p>
        {# <p class="constraint">we accept .MP3 and .WAV under 60MB</p> #}
        {{ form_widget(form) }}
        <div class="btn-form-edit">
             <a class="middle-btn" href="{{ path('app_stream')}}">BACK</a>
            <input class="middle-btn" type="submit" value="UPDATE">
        </div>
        {{ form_end (form) }}  
        {{ include('stream/delete.html.twig') }}
    </div>
</div>
{% endblock %}
