{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <section class="other-section"> 
        <h3>UPLOAD</h3>
        <div class="container">
                {{ form_start(form)}}
                {{ form_row(form.mediaFile, { 'label': 'Artwork' }) }}
                {{ form_widget(form) }}
                <div id="btn-form-edit">
                    <a id="btn-big" href="{{ path('app_stream')}}">BACK</a>
                    <input class="btn-save" type="submit" value="UPDATE">
                <div>
                {{ form_end (form) }}  
                {{ include('stream/delete.html.twig') }}
        </div>
    </section>
{% endblock %}
