{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %} 
<div class="header-section">
    <h1>STREAM</h1>
</div>
<section>
    <div class="container-all-track">
        {% for track in tracks %}  
            <div class="container-track">
                <div class="artwork">
                    <img class="images-stream" src="{{asset('images/media/' ~ track.media)}}" alt="{{track.media}}">
                </div>
                <div class="infos-track">
                    <div class="artistandtitle">
                        <h2>{{ track.artist }}</h2>
                        <p>{{ track.title }}</p>
                        <div class="artwork">
                            <audio controls src="{{asset('audio/media/' ~ track.audio)}}" alt="{{track.audio}}" controlsList="nodownload" class="audiotrack">
                            </audio>
                        </div>
                    </div>
                    <div class="container-btn-track">
                        <a class="small-btn" href="{{path('app_stream_details', {'id': track.id})}}">details</a>
                        {% if app.user %}
                        <a class="small-btn btn-comment-length" href="{{path('app_stream_comment', {'id': track.id})}}">comments : {{track.comments|length}}</a>
                        {% if app.user in track.likes %}
                            <a value="{{track.id}}" class="small-btn-white heart" href="{{path("track_like", {'id':track.id})}}">
                                <i class="fas fa-heart"></i>
                                <p class="length">{{ track.likes|length }}</p>
                            </a>
                        {% else %}
                            <a value="{{track.id}}" class="small-btn-white heart" href="{{path("track_like", {'id':track.id})}}">
                                <i class="far fa-heart"></i>
                                <p class="length">{{ track.likes|length }}</p>
                            </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %} 
            <div class="container-track active">
                <div class="infos-track">
                    <div class="artistandtitle">
                        <a class="middle-btn" href="{{ path('app_upload') }}">UPLOAD</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
                        