{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="other-section"> 
        <h3>STREAM</h3>
        {% for track in tracks %}  
            <div id="container-track" class="hover-fx">
                <div id="artwork"><img src="{{asset('images/media/' ~ track.media) | imagine_filter('my_thumb')}}" alt="{{track.media}}">
                </div>
                <div id="infos-track">
                    <div id="artistandtitle">
                        <h4>{{ track.artist }}</h4>
                        <p>{{ track.title }}</p>
                    </div>
                    <div id="container-btn-track">
                        <a class="middle-btn" href="{{path('app_stream_details', {'id': track.id})}}">details</a>
                        <a class="middle-btn" href="{{path('app_stream_comment', {'id': track.id})}}">comments : {{track.comments|length}}</a>
                        <p>
                        {# {% set break = false %}
                        {% for like in track.likes %}
                            {% if not break %}
                                {% if track.likes|length == 1 %}
                                    {{like}} liked this post.
                                {% else %}
                                    {{like}} and {{track.likes|length - 1}} liked this post
                                    {% set break = true %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                        {% endfor %} #}
                        </p>
                        {% if app.user in track.likes %}
                            <a href="{{path("track_like", {'id':track.id})}}">
                                <button class="middle-btn"><i class="fas fa-heart-broken"></i>{{ track.likes|length }}</button>
                            </a>
                            {% else %}
                            <a href="{{path("track_like", {'id':track.id})}}">
                               <button class="middle-btn"><i class="fas fa-heart"></i>{{ track.likes|length }}</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
        <div id="container-track">
            <div id="infos-track">
                <p>No Records found</p>
        {% endfor %}
    </section>
{% endblock %}
