<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3">
        <meta name="UNIVERSOUND" content="UNIVERSOUND, AUDIO STREAMING PLATFORM">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/favicon/favicon-32x32.png')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        {% block title %}UNIVERSOUND{% endblock %}
        {#<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script defer src="{{asset('js/ajax.js') }}"></script>

    </head>
    <body>
        {{ include('common/_header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('common/_footer.html.twig') }}

    <script src="{{asset('lib/jquery-3.6.0.min.js') }}"></script>
    <script src="{{asset('js/script.js') }}"></script>


    </body>
</html>
